.nav-custom{
    background-color: $bg-color;
}

.carrito {
    font-size: 24px; /* Tamaño del ícono */
    color: #333; /* Color del ícono */
    /* Agrega cualquier otro estilo que desees para el ícono del carrito */
  }